@model DPGERJ.Recepcao.Web.ViewModels.AssistidoViewModel

    @{
        ViewBag.Title = "Details";
    }

    <h2>Detalhes</h2>

    <div>
        <h4>Assistido</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Nome)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Nome)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Documento)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Documento)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.OrgaoEmissor)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.OrgaoEmissor)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ImagemUrl)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ImagemUrl)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
