@using System.Web.Optimization
@model IEnumerable<DPGERJ.Recepcao.Web.ViewModels.AssistidoViewModel>

@{
    ViewBag.Title = "Index";
}

@section head
{
    @Styles.Render("~/Content/datatables/css")
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Criar novo", "Cadastro")
</p>
<table class="table table-hover table-striped table-responsive" id="assistidos">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Documento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrgaoEmissor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImagemUrl)
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Documento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrgaoEmissor)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ImagemUrl)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Editar", new { id = item.Id }) |
                    @Html.ActionLink("Detalhes", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Excluir", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>

</table>
@section scripts
{
    @Scripts.Render("~/bundles/datatables")
    <script>
        $(document).ready(function () {
            $("#assistidos").DataTable();
        });
    </script>
}
