@using X.PagedList
@using X.PagedList.Mvc

<link href="~/Content/bootstrap-datepicker.css" rel="stylesheet" />
<link href="~/Content/bootstrap-datepicker3.css" rel="stylesheet" />

@using (Html.BeginForm("Historico", "Visita", FormMethod.Post))
{
    <div class="form-inline" style="padding-bottom:20px;">
        <div class="row">
            <div class="col-md-4">
                <strong>Digite o nome do visitante:</strong>
                <div class="input-group">
                    <input class="form-control" id="nome" name="nome" type="text" value="@ViewBag.nome" required />
                    <span class="input-group-btn">
                        <button class="btn btn-success" type="submit" id="btn-consultar">Consultar</button>
                    </span>
                </div>
                <span class="field-validation-valid text-danger" data-valmsg-for="nome" data-valmsg-replace="true"></span>
            </div>
            <div class="col-md-12" id="sandbox-container">
                <div class="col-md-push-2 col-md-3">
                    <strong>Data início:</strong>
                    <input type="text" class="form-control" id="dataini">
                </div>
                <div class="col-md-push-2 col-md-3">
                    <strong>Data fim:</strong>
                    <input type="text" class="form-control" id="datafim">
                </div>
            </div>
        </div>
    </div>
}

<table class="table table-hover table-striped table-responsive" id="mytable">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Documento</th>
            <th>Orgão Emissor</th>
            <th>Destino</th>
            <th>Data Entrada</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var i in ViewBag.onePageList)
        {
            <tr>
                <td>@i.Assistido.Nome</td>
                <td>@i.Assistido.Documento</td>
                <td>@i.Assistido.OrgaoEmissor</td>
                <td>@i.Destino.Nome</td>

                <td>@i.DataCadastro.ToString("dd/MM/yyyy H:mm tt")</td>
            </tr>
        }
    </tbody>
</table>
@Html.PagedListPager((IPagedList)ViewBag.onePageList, page =>
Url.Action("Historico", new { page, ViewBag.nome }),
PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions()
{
    HttpMethod = "POST",
    UpdateTargetId = "mytable"
}))
<script src="~/scripts/jquery-1.9.1.js"></script>
<script src="~/scripts/bootstrap-datepicker.js"></script>
<script src="~/scripts/locales/bootstrap-datepicker.pt-BR.min.js"></script>

<script>
    $('#sandbox-container input').datepicker({
        format: "dd/mm/yyyy",        
        language: "pt-BR",
        daysOfWeekDisabled: "0,6",
        autoclose: true,
        todayBtn: true,
        clearBtn: true,
        todayHighlight: true
    });
    //.on('changeDate', function(ev){
    //    if (ev.date.valueOf() < startDate.valueOf()){
    //        ....
    //    }
</script>


