@model DPGERJ.Recepcao.Web.ViewModels.VisitaViewModel

@{
    ViewBag.Title = "Detalhes";
}

<h4>Detalhes da visita</h4>
<hr />
<div class="col-md-4">
    <img src="~/Content/fotos/@Model.Assistido.ImagemUrl" class="img-responsive" />
</div>
<div class="col-md-8">

    <dl>
        <dt>
            @Html.DisplayNameFor(model => model.Assistido.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Assistido.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Destino.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Destino.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PessoaMotivo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PessoaMotivo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataCadastro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataCadastro)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Voltar", "Index", null, new { @class = "btn btn-sm btn-primary" })
</p>
