@using System.Web.Optimization
@model IEnumerable<DPGERJ.Recepcao.Web.ViewModels.VisitaViewModel>

@{
    ViewBag.Title = "Index";
}

@section head{

    @Styles.Render("~/Content/datatables/css")
}

<h3>Controle de entrada</h3>


<div class="form-inline">
    <p><strong>Digite os dígitos do documento</strong></p>
    <div class="row">
        <div class="col-md-4">
            <div class="input-group">
                <input class="form-control" id="documento" name="documento" type="text" value="" required />
                <span class="input-group-btn">
                    <button class="btn btn-success" type="button" id="btn-consultar">Consultar</button>
                </span>
            </div>
            <span class="field-validation-valid text-danger" data-valmsg-for="documento" data-valmsg-replace="true"></span>
        </div>
    </div>

</div>

<hr class="clearfix" />

<h4>Últimas entradas</h4>
<table class="table table-hover table-striped table-responsive" id="visitas">
    <thead>

        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Assistido.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Assistido.Documento)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Destino.Nome)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.DataCadastro)
            </th>
            <th>Ações</th>
        </tr>

    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Assistido.Nome)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Assistido.Documento)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Destino.Nome)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.DataCadastro)
                </td>
                
                <td>
                    @Html.ActionLink("Detalhes", "Detalhes", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>


</table>

@section scripts
{
    @Scripts.Render("~/bundles/datatables")

    <script>
        $(document)
            .ready(function () {
                $("#btn-consultar")
                    .click(function () {
                        window.location.href = "/Visita/Cadastro/" + $("#documento").val();
                    });
                $("#visitas").DataTable({
                    'order': [[3, 'desc']],
                    "language": {
                        "url": "/Content/datatables/traducao.ptbr.json"
                    }

                });
            });

    </script>
}

