@using PagedList.Mvc
@model PagedList.IPagedList<DPGERJ.Recepcao.Web.ViewModels.AssistidoViewModel>

<table class="table table-hover table-striped table-responsive" id="assistidos">
    <thead>
        <tr>
            <th>
            </th>
            <th>
                @Html.DisplayName("Nome")
            </th>
            <th>
                @Html.DisplayName("Documento")
            </th>
            <th>
                @Html.DisplayName("OrgaoEmissor")
            </th>

            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <img class="img img-thumbnail " src="@Url.Content($"~/Content/fotos/{item.ImagemUrl}")" style="width: 64px" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Documento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrgaoEmissor)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Editar", new { item.Documento }) |
                    @Html.ActionLink("Detalhes", "Detalhes", new { item.Documento })
                </td>
            </tr>
        }
    </tbody>

</table>
@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
