@model DPGERJ.Recepcao.Web.ViewModels.AssistidoViewModel

@{
    ViewBag.Title = "Details";
}
<h3>Detalhes de visitante</h3>

<div class="col-md-4">
        <figure>
            <img src="~/Content/fotos/@Model.ImagemUrl" class="img img img-thumbnail img-responsive" />
        </figure>
    </div>
    <div class="col-md-8">
        <h4>@Model.Nome</h4>
        <dl>


            <dt>
                @Html.DisplayNameFor(model => model.Documento)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Documento)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.OrgaoEmissor)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.OrgaoEmissor)
            </dd>

        </dl>
    </div>
    @if (Model.Visitas.Any())
    {
        <table class="table">
            <thead>
                <tr>
                    <th>Destino</th>
                    <th>Pessoa/Motivo</th>
                    <th>Data Entrada</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var visita in Model.Visitas)
                {
                    <tr>
                        <td>@visita.Destino.Nome</td>
                        <td>@visita.PessoaMotivo</td>
                        <td>@visita.DataCadastro</td>
                    </tr>
                }
            </tbody>
        </table>
    }


<button onclick="voltar()" class="btn btn-primary btn-sm">Voltar</button>


