@using System.Web.Optimization
@model IEnumerable<DPGERJ.Recepcao.Web.ViewModels.AssistidoViewModel>

@{
    ViewBag.Title = "Index";
}

@section head
{
    @Styles.Render("~/Content/datatables/css")
}

<h2>Visitantes</h2>
<hr />
<p>
    @Html.ActionLink("Criar novo", "Cadastro", null, new { @class = "btn btn-sm btn-primary" })
</p>
<table class="table table-hover table-striped table-responsive" id="assistidos">
    <thead>
        <tr>
            <th>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Documento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrgaoEmissor)
            </th>

            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <img class="img img-thumbnail " src="@Url.Content($"~/Content/fotos/{item.ImagemUrl}")" style="width: 64px" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Documento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrgaoEmissor)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Editar", new { item.Documento }) |
                    @Html.ActionLink("Detalhes", "Detalhes", new { item.Documento })
                </td>
            </tr>
        }
    </tbody>

</table>
@section scripts
{
    @Scripts.Render("~/bundles/datatables")
    <script>
        $(document)
            .ready(function () {
                $("#assistidos")
                    .DataTable({
                        "language": {
                            "url": "/Content/datatables/traducao.ptbr.json"
                        }
                    });
            });
    </script>
}
