@model DPGERJ.Recepcao.Web.ViewModels.DestinoViewModel

@{
    ViewBag.Title = "View";
}

<h2>Detalhes</h2>

<div>
    <dl>
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Andar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Andar)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Editar", new { id = Model.Id }, new { @class = "btn btn-warning" }) |
    @Html.ActionLink("Voltar", "Index", null, new { @class = "btn btn-info" })
</p>
