@model DPGERJ.Recepcao.Web.ViewModels.DestinoViewModel

@{
    ViewBag.Title = "View";
}

<h2>View</h2>

<div>
    <h4>DestinoViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Andar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Andar)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Editar", new { id = Model.Id }) |
    @Html.ActionLink("Voltar", "Index")
</p>
