@model DPGERJ.Recepcao.Web.ViewModels.DestinoDetalhesViewModel

@{
    ViewBag.Title = "View";
}

<h2>Detalhes</h2>

<div>
    <dl>
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Andar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Andar)
        </dd>

    </dl>
</div>
<hr />
@if (Model.Visitas.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>Foto</th>
                <th>Nome</th>
                <th>Data Visita</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var visita in Model.Visitas)
            {
                <tr>
                    <td></td>
                    <td>@visita.Assistido.Nome</td>
                    <td>@visita.DataCadastro</td>
                    <td>@Html.ActionLink("Detalhes", "Detalhes", "Visita", new { id = visita.Id }, new { @class = "btn btn-link" })</td>
                </tr>
            }
        </tbody>
    </table>
}
<p>
    @Html.ActionLink("Editar", "Editar", new { id = Model.Id }, new { @class = "btn btn-sm btn-warning" }) |
    @Html.ActionLink("Voltar", "Index", null, new { @class = "btn  btn-sm  btn-info" })
</p>
